canvas {
    background-color: rgba(201, 199, 194, 0.402);
    overflow: hidden;
    display: block;
}

body {
        margin: 0;
        height: 100%;
        /* overflow: hidden; */
    }

.carousel-fixed {
    object-fit: cover;
    object-position: center;
    height: 80vh;
    overflow: hidden;
    margin-top: 0;
    padding-top: 0;
}
